.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-heading {
  font-size: 2.25rem; /* Equivalent to Tailwind's text-3xl */
  font-weight: bold;
  letter-spacing: -0.025em; /* Equivalent to Tailwind's tracking-tighter */
  margin-top: 1.5rem; /* Equivalent to Tailwind's mt-6 */
}

.custom-paragraph {
  margin: 0 auto;
  max-width: 600px; /* Equivalent to Tailwind's max-w-[600px] */
  font-size: 1.25rem; /* Equivalent to Tailwind's md:text-xl */
  line-height: 1.75; /* Equivalent to Tailwind's md:text-xl */
  color: #4b5563; /* Equivalent to Tailwind's text-gray-500 */
}

.aspect-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-video {
  width: 100%;
  height: auto;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
